@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
  }
  h2 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}

@layer components {
  .round {
    @apply flex h-24 w-24 items-center justify-center rounded-full border-4 border-black;
    /* width: 115px;
    height: 115px;
    border: #000 3px solid; */
  }
}
