@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
  }
  h2 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}
